<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NewGenMachanics</title>
  <link href="https://unpkg.com/tailwindcss@1.4.6/dist/tailwind.min.css" rel="stylesheet">
  <link href="/stylesheets/1style.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      // Retrieve the template data from the HTML (jQuery is used here). 
      var constants = {
        "CompanyName": "NewGenMechanics",
        "HeaderCenterText": "Consult with a professional",
        "HeaderBelowCenterText": "Sign up today to request to speak with our technicians",
        "SignUpText": "Request"
      };
      var template = $(document.body).html();
      var templateScript = Handlebars.compile(template);
      var html = templateScript(constants);
      $(document.body).html(html);
    });
  </script>

</head>

<body>
  <div class="wrapper">

    <header>

      <h1 class="p-4 hidden md:flex flex-row justify-between font-bold">
        <a href="/"
          class="mx-4 text-lg  border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500">Home</a>
        <a href="#aboutus"
          class="mx-4 text-lg border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500">About
          Us</a>
        <a href="#contactus"
          class="mx-4 text-lg border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500">Contact
          Us</a>

      </h1>
      <nav id="else-form" class="p-4 hidden md:flex flex-row justify-between font-bold">
        {{#if loggedIn}}
        <a href="/dashboard"
          class="mx-4 text-lg border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500">Dashboard</a>
          
        <button type="submit" id="logout" class="font-bold mx-4 text-lg border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500
            ">Logout</button>
        {{else}}
        <a href="/login"
          class="mx-4 text-lg border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500">Login</a>
        {{/if}}


      </nav>

  </div>
  </header>

  <main>
    {{{ body }}}
  </main>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>