<section id="up" class="bg-center bg-fixed bg-no-repeat bg-center bg-cover h-screen relative">
    <div class="h-screen bg-opacity-50 bg-black flex items-center justify-center" style="background:rgba(0,0,0,0.5);">
        <div class="mx-2 text-center">
            <h1 class="text-gray-100 font-extrabold text-4xl xs:text-5xl md:text-6xl">
                <span class="text-white">Consult with</span> a professional
            </h1>
            <h2 class="text-gray-200 font-extrabold text-2xl xs:text-3xl md:text-4xl leading-tight">
                Sign up <span class="text-white">today</span> to <span class="text-white">request</span> to speak with
                our
                technicians
            </h2>
            <div class="inline-flex">
                <button
                    class="p-2 my-5 mx-2 bg-indigo-700 hover:bg-indigo-800 font-bold text-white rounded border-2 border-transparent hover:border-indigo-800 shadow-md transition duration-500 md:text-xl">
                    <a href="/signUpform">Request</a></button>
            </div>
        </div>
    </div>
</section>