<<<<<<< HEAD
<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
=======
<script>
		$(document).ready(function () {
			// Retrieve the template data from the HTML (jQuery is used here).    
			var template = $(document.body).html();
			var templateScript = Handlebars.compile(template);
			var context = {
			"LoginText": "Login"
			};
			var html = templateScript(context);
			$(document.body).html(html);
		});
	</script>
</head>

<body>
	<div class="w-screen h-screen flex justify-center items-center bg-gray-900">
		<form class="p-20 bg-white rounded flex justify-center items-center flex-col shadow-md">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-gray-600 mb-2" viewbox="0 0 20 20"
				fill="currentColor">
				<path fill-rule="evenodd"
					d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
					clip-rule="evenodd" />
			</svg>
			<p class="mb-5 text-3xl uppercase text-gray-600" id="header">{{LoginText}}</p>
			<input type="email" name="email"
				class="mb-5 p-3 w-100 focus:border-purple-700 rounded border-2 outline-none" autocomplete="off"
				placeholder="Email" required>
			<input type="password" name="password"
				class="mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" autocomplete="off"
				placeholder="Password" required>
			<button class="bg-gray-900 hover:bg-gray-600 text-white font-bold p-2 rounded w-80" id="login"
				type="submit"><span>{{LoginText}}</span></button>
		</form>
	</div>

	<script>
		document.getElementById("login").addEventListener("click", function (event) {
			event.preventDefault();
		});
	</script>
>>>>>>> feature/views
