<section class="login-page">

	<div class="form-section w-screen h-screen flex justify-center items-center bg-gray-900">
		<form class="login-form p-20 bg-white rounded flex justify-center items-center flex-col shadow-md">
			<div class="form-heading">
				<h1>Log In</h1>
			</div>
			<div>
				<label for="username-login">Email</label>
				<input type="text" name="email"
					class="entry-field mb-5 p-3 w-100 focus:border-purple-700 rounded border-2 outline-none"
					autocomplete="off" id="username-login" placeholder="Email" required>
			</div>
			<div>
				<label for="password-login">Password</label>
				<input type="password" name="password"
					class="entry-field mb-5 p-3 w-100 focus:border-purple-700 rounded border-2 outline-none"
					id="password-login" autocomplete="off" placeholder="Password" required>
			</div>
			<div>
				<button class="bg-gray-900 hover:bg-gray-600 text-white font-bold p-2 rounded w-80" id="login"
					class="login-signup-btn" type="submit">
					Log In!
				</button>

			</div>
		</form>
	</div>
	</div>


</section>

<script src="/javascript/login.js"></script>