<section class="sign-in-page">

    <body>
        <div class="bg-gray-900 min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <h1 class="mb-8 text-3xl text-center">Sign up</h1>
                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname"
                        placeholder="Full Name" />

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="email"
                        placeholder="Email" />

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="phone_number" placeholder="Phone Number" />

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="carmake"
                        placeholder="Car Make" />

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="carmodel"
                        placeholder="Car Model" />

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="caryear"
                        placeholder="Car Year" />

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="city"
                        placeholder="City" />

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="description"
                        placeholder="Description of issue" />
                    <button type="submit" id="submit"
                        class="w-full text-center py-3 rounded bg-black text-white hover:bg-grey-dark focus:outline-none my-1">Submit</button>



                </div>

                <div class="text-white mt-6">
                    Already have an account?
                    <a class="no-underline border-b border-blue text-blue" href="/login">
                        Log in
                    </a>.
                </div>
            </div>
        </div>
    </body>
    <a href="/login" class="login-link">log in instead</a>
</section>

<script src="/javascript/signup.js"></script>