<article class="new-page">
    <section class="new-form-page">
         <div class="bg-gray-900 min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">

        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="form-heading mb-8 text-3xl text-center">Book An Appointment</h1>
        </div>

        <div class="form-section">

            <form class="new-post-form">

                <div class="post-title-section">
                    <label for="post-title">Full Name</label>
                    <textarea type="text" id="post-title" name="post-title"> </textarea>
                </div>

                <div class="post-title-section">
                    <label for="post-email">Email</label>
                    <textarea type="entry-field" id="post-email" name="post-email"> </textarea>
                </div>

                <div class="post-content">
                    <label for="post-phone-number">Phone Number</label>
                    <textarea class="entry-field" id="post-phone-number" name="post-phone-number"></textarea>
                </div>

                <div class="block border border-grey-light w-full p-3 rounded mb-4">
                    <label for="post-car">Car Make, Model and Year</label>
                    <textarea class="entry-field" id="post-car" name="post-car"></textarea>
                </div>

                <div class="post-content">
                    <label for="post-city">City</label>
                    <textarea class="entry-field" id="post-city" name="post-city"></textarea>
                </div>

                <div class="post-content">
                    <label for="post-content">Description of issue</label>
                    <textarea class="entry-field" id="post-content" name="post-content"></textarea>
                </div>

                <button type="submit" id="submit" class="btn">Submit</button>

            </form>
        </div>

    </div>
    </div>
    </section>
</article>

<script src="/javascript/request.js"></script>